$dark-backColor: #1e212a;
$dark-zoneColor: #292D39;
$dark-seatColor: #328989;
$dark-rowColor: #1e212a;
$dark-main: #292D39;
$dark-mainDark: #1e212a;
$dark-mainLight: #1e212a;
$dark-mainLighter: #ffffff;
$dark-darkShadow: #0a0b0e;
$dark-mediumShadow:rgba(0, 0, 0, 0.4);
$dark-lightShadow: #e5e5e5;
$dark-textPrimary: #328989;
$dark-textSecondary: #ffffff;
$dark-textTertiary: #3C4254;