$backColor: #1e212a;
$zoneColor: #292D39;
$seatColor: #328989;
$rowColor: #1e212a;
$main: #292D39;
$mainDark: #1e212a;
$mainLight: #1e212a;
$mainLighter: #ffffff;
$darkShadow: #0a0b0e;
$mediumShadow:rgba(0, 0, 0, 0.4);
$lightShadow: #e5e5e5;
$textPrimary: #328989;
$textSecondary: #ffffff;
$textTertiary: #3C4254;
$loginColor: #c2c2d3;
$sidebarColor: #121419;
$sidebarBorderColor: #000;
$textSideBar: #fff;
$placeHolderColor: #121419;