$light-backColor: #ffffff;
$light-zoneColor: #c2c2d3;
$light-seatColor: #328989;
$light-rowColor: #ffffff;
$light-main: #c2c2d3;
$light-mainDark: #328989;
$light-mainLight: #1e212a;
$light-mainLighter: #ffffff;
$light-darkShadow: #0a0b0e;
$light-mediumShadow:rgba(0, 0, 0, 0.4);
$light-lightShadow: #e5e5e5;
$light-textPrimary: #328989;
$light-textSecondary: #302e2e;
$light-textTertiary: #3C4254;