$backColor: #ffffff;
$zoneColor: #e6e4e4;
$seatColor: #008789;
$rowColor: #ffffff;
$main: #e6e4e4;
$mainDark: #008789;
$mainLight: #1e212a;
$mainLighter: #ffffff;
$darkShadow: #0a0b0e;
$mediumShadow:rgba(0, 0, 0, 0.4);
$lightShadow: #e5e5e5;
$textPrimary: #008789;
$textSecondary: #1e212a;
$textTertiary: #fff;
$loginColor: #1e212a;
$sidebarColor: #121419;
$sidebarBorderColor: #000;
$textSideBar: #fff;
$placeHolderColor: #ffffff;