$backColor: #ffffff;
$zoneColor: #e0e0e9;
$seatColor: #587cc0;
$rowColor: #ffffff;
$main: #e0e0e9;
$mainDark: #587cc0;
$mainLight: #1e212a;
$mainLighter: #ffffff;
$darkShadow: #0a0b0e;
$mediumShadow:rgba(0, 0, 0, 0.4);
$lightShadow: #e5e5e5;
$textPrimary: #587cc0;
$textSecondary: #1e212a;
$textTertiary: #fff;
$loginColor: #1e212a;
$sidebarColor: #121419;
$sidebarBorderColor: #000;
$textSideBar: #fff;
$placeHolderColor: #ffffff;