@import '../colorPallet/dark.scss';

.dark {
    .loginWrapper {
        .loginButton {
            border-color: $loginColor;
        }
        .loginButton:hover {
            background-color: $loginColor;
            color: $backColor;
        }
    }
    .loader {
        background-color: $backColor;        
    }
    .wrapper {
        color: $loginColor;
        background-color: $backColor;
    }
    .zone {
        background-color: $zoneColor;
    }
    .seat {
        background-color: $seatColor;
    }
    .seatRow {
        background-color: $rowColor;
    }
    .hostInfoWrapper {
        border-color: $darkShadow;
        box-shadow: 4px 4px 8px $mediumShadow;
        .splitter {
            .rightCol {
                .skewed {
                    &.main {
                        background-color: $mainDark;
                    }
                    &.secondary {
                        background-color: $main;
                        .hostName {
                            color: $textSecondary;
                        }
                    }
                }
                .hostContent {
                    &.contentTop {
                        background-color: $mainDark;
                        .userName {
                            color: $textSecondary;
                        }
                        .tags {
                            color: $textPrimary;                            
                            &.inactive {
                                color: $textTertiary;
                            }
                        }
                    }
                    &.contentBottom {
                        background-color: $main;
                        .stats {
                            .statName {
                                color: $textPrimary;                              
                            }
                            .statValue {
                                color: $textSecondary;
                            }
                        }
                        .profileButton {
                            .buttonContent {
                                background-color: $mainDark;                            
                                border-color: $darkShadow;
                                box-shadow: 2px 2px 2px $darkShadow;
                                .linkUserAccount {
                                    color: $textSecondary;
                                }
                            }
                            .buttonSkewed {
                                box-shadow: 2px 2px 2px $darkShadow;
                                background-color: $mainDark;                                
                                border-color: $darkShadow;
                                background-color: $mainDark;                               
                            }
                        }
                    }
                }
            }
        }
    }
}