$ratio-width: 151;
$ratio-height: 120;
$ratio-size: 95;
$ratio-vertical-shift: 3;

@function get_size($f_multiplier, $f_coefficient) {
    @return $f_multiplier * $f_coefficient;
}

@function get_coefficient($viewMode) {
    @if ($viewMode) {
        @return (($ratio-size) / 100) * (($ratio-height / $ratio-width) * 1vw);
    } @else {
        @return  ($ratio-size / 100) * 1vh;
    }
}

@mixin aspect-ratio($width, $height, $size, $vertical-shift: 0, $horizontal-shift: 0vw) {
    position: absolute;
    width: $size * 1vw;
    height: $size * 1vh;
    max-width: $size * 1vh * ($width / $height);
    max-height: $size* 1vw * ($height / $width);
    left: calc(#{$horizontal-shift} + (50vw - (#{$horizontal-shift} / 2)));
    transform: translate(-50%);
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
      
    }
    > .content {
      position: absolute;
      top: $vertical-shift * 1%;
      left: 0;
      right: 0;
      bottom: 0;
    }
}