.wrapperw {
    background-color: purple;
}

.zone {
    display: inline-block;
    background-color: #cccccc;
    margin: 5px;
    border-radius: 5px;
}

.z1, .z2, .z4 {
    width: 28%;
    height: 48%;
}

.z1 {
    display: block;
}

.z3 {
    height: 25%;
    width: 40%;
}

.zonesWrapper {
    background-color: purple;
    max-width: 100%;
    min-width: 1500px;
    height: 100%;
}

.seatRow {
    background-color: green;
    margin: 5px;
    flex: 1;
    display: flex;
    align-items: center;
}

.seat {
    background-color: orange;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.rowWrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hostInfoWrapper {
    display: inline-block;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 10px;
}