@import "utilities/cross-browser.scss";

$backColor: #1e212a;
$zoneColor: #292D39;
$seatColor: #328989;
$rowColor: #1e212a;
$main: #292D39;
$mainDark: #1e212a;
$mainLight: #1e212a;
$mainLighter: #ffffff;
$darkShadow: #0a0b0e;
$mediumShadow:rgba(0, 0, 0, 0.4);
$lightShadow: #e5e5e5;
$textPrimary: #328989;
$textSecondary: #ffffff;
$textTertiary: #3C4254;
$loginColor: #c2c2d3;
$sidebarColor: #121419;
$sidebarBorderColor: #000;
$textSideBar: #fff;
$placeHolderColor: #121419;

.scorerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba($color: #c2c2d3, $alpha: 0.1);
    z-index: 4;
    .scorer {
        position: relative;
        background-color: #292D39;
        width: 90vw;
        height: 90vh;
        padding: 9vh 5vw 5vh 5vw;
        .dismissScore {
            position: absolute;
            top: 2vh;
            right: 2vw;
            background-color: transparent;
            height: 5vw;
            width: 5vw;
            padding: 0;
            border: none;
            cursor: pointer;
            i {
                height: 100%;
                width: 100%;
                font-size: 5vw;
                color: #c2c2d3;
            }
            &:hover {
                i {
                    color: darken($color: #c2c2d3, $amount: 30%);
                }
            }
        }
        .concurrentWrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .concurrentBlock {
                position: relative;
                width: 50%;
                margin: 20px;
                border: 2px solid #fff;
                height: 500px;
                display: flex;
                flex-direction: column;
                align-self : center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &.win {
                    border: 2px solid green;
                    .concurrentScore, .concurrentLogin {
                        border: 2px solid green;
                    }
                }
                &.loose {
                    border: 2px solid red;
                    .concurrentScore, .concurrentLogin {
                        border: 2px solid red;
                    }
                }
                &.draw {
                    border: 2px solid orange;
                    .concurrentScore, .concurrentLogin {
                        border: 2px solid orange;
                    }
                }
                .concurrentLogin {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 200px;
                    height: 50px;
                    border: 2px solid #fff;
                    background-color: #292D39;
                    p {
                        color: #fff;
                        font-size: 25px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
                .concurrentScore {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 200px;
                    height: 50px;
                    border: 2px solid #fff;
                    background-color: #292D39;
                    p {
                        color: #fff;
                        font-size: 25px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
            }
        }
        .concurrentsStatus {
            color: #fff;
            text-align: center;
            font-size: 30px;
            margin-top: 20px; 
        }
    }
}