@import "utilities/responsive.scss";

@mixin applyStyle($portrait) {
    $coefficient: get_coefficient($portrait);
    $switchWidth: 3;
    .switch {
        z-index: 2;
        height: get_size($switchWidth * 3, $coefficient);
        width: get_size($switchWidth, $coefficient);
        background-color: purple;
        margin-right: get_size(1, $coefficient);
        .switchButton {
            background-color: orange;
            width: 100%;
            height: get_size($switchWidth, $coefficient);
            cursor: grab;
        }
        .position1 {
            transform: translateY(get_size($switchWidth, $coefficient));
        }
        .position2 {
            transform: translateY(get_size($switchWidth * 2, $coefficient));
        }
    }
}

@media screen and (max-aspect-ratio: "#{$ratio-width} / #{$ratio-height}") {
    @include applyStyle($portrait: true);
}
@media screen and (min-aspect-ratio: "#{$ratio-width} / #{$ratio-height}") {
    @include applyStyle($portrait: false);
}