@import "utilities/cross-browser.scss";
@import "utilities/responsive.scss";

@mixin applyStyle($seatSize, $seatSidesMargin, $seatRowMargin, $zoneMargin, $portrait) {

    $coefficient: get_coefficient($portrait);
    $scoresSize: get_size(30, $coefficient);
    $seatSize: get_size($seatSize, $coefficient); 
    $seatSidesMargin:get_size($seatSidesMargin, $coefficient); 
    $seatRowMargin:get_size($seatRowMargin, $coefficient); 
    $zoneMargin:get_size($zoneMargin, $coefficient);
    $zoom: 1.5;
    $radius: get_size(0.3, $coefficient);
    $hallSize: $seatSize + ($seatSidesMargin * 2);
    $themeNb: 2;
    $dropdownSeparation: 0.05vw;
    $dropdownInnerSeparation:  0.05vw;
    $iconSpacing:  0.4vmin;
    $iconSize: 3vmin;
    $tileSize: $iconSpacing + $iconSize;
    $i: 4;
    @while $i > 0 {
        .stat-#{$i} {
            margin-left: $i * - get_size(0.4, $coefficient);
        }
        $i: $i - 1;  
    }

    .sidebar {
        z-index: 3;
        overflow: hidden;
        height: 100%;
        position: fixed;
        left: 0;
        padding: 0;
        transition: opacity 0.5s ease-in-out;
        .main-tile {
            transition: background-color 0.15s ease-in-out;
            font-size: $iconSize;
            cursor: pointer;
        }
        .tile {
            display: table;
            text-align: center;
            width: 100%;
            span {
                display:table-cell;
                 vertical-align:middle;
                 i {
                    margin: $iconSpacing;
                 }
            }
        }
        .btn {
            background-color: transparent;
            border: none;
            &:hover {
                border: none;
                outline: none;
            }
        }
        .multi-dropdown {
            &.opened .dropdown-content {
                max-height: calc(#{$tileSize} * #{$themeNb} + (2 * #{$dropdownSeparation}) + (#{$themeNb} * (#{$dropdownInnerSeparation} * 2) + (2 * #{$iconSpacing})));
            }
            &.closed .dropdown-content {
                transform-origin: top;
                transition: max-height 0.25s ease-in-out;
            }
            .dropdown-header {
                border-style: solid;
            }
            .dropdown-content {
                border-style: solid;
                .dropdown-option {
                    transition: all 0.15s ease-in-out;
                    border-style: solid;
                    &:hover {
                        transform: translateX(1px);
                    }
                }
                max-height: 0;
                transition: max-height 0.25s ease-in-out;
                overflow: hidden;
            }
        }
    }

    .sidebarHided {
        opacity: 0;
    }

   .zone {
        display: inline-block;
        vertical-align: top;
        margin: $zoneMargin;
        box-shadow: get_size(0.2, $coefficient) get_size(0.2, $coefficient)  get_size(0.8, $coefficient) rgba(0, 0, 0, 0.4);
        border-radius: $radius;
    }

    .rowWrapper {
        margin: $zoneMargin;
    }
    
    .seat {
        @include fix_animation();
        margin: $seatSidesMargin;
        width: $seatSize;
        position: relative;
        height: $seatSize;
        border-radius: $radius;
    }

    @keyframes pulse {
        0% {
            transform: scale(1.1);
            //z-index: 1;
        }
        100% {
            top: -(($zoom - 1) * 50%) !important;
            left: -(($zoom - 1) * 50%)!important;
            transform: scale(1.4);
            box-shadow: get_size(0.2, $coefficient) get_size(0.2, $coefficient)  get_size(0.8, $coefficient) rgba(0, 0, 0, 0.4);
            //z-index: 1;  
        }
    }
    
    .highlighted:not(:hover) {
        animation: pulse 0.8s infinite;
        animation-direction: alternate;
    }

    .hidden {
        opacity: 0.2;
    }

    .userImg {
        height: 100%;
        min-height: 0;
        cursor: pointer;
        @include fix_animation();
        @include transition(opacity 0.1s linear);
    }

    .seatRow {
        display: flex;
        margin: $seatRowMargin 0px $seatRowMargin 0px;
        border-radius: $radius;
    }
    
    .rowWrapper {
        display: flex;
        flex-direction: column;
    }
    .newbie {
        div {
            width: get_size(0.7, $coefficient);
            height: get_size(0.7, $coefficient);
            border: get_size(0.1, $coefficient) rgba(255, 255, 255, 0.7) solid;
            background-color: rgba(0, 155, 216, 0.623);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.22), 0 3px 1px -2px rgba(0, 0, 0, 0.3);
            position: absolute;
            bottom: get_size(0.2, $coefficient);
            right: get_size(0.2, $coefficient);
            border-radius: 50%;
            @include fix_animation();
            z-index: 5;
        }
    }
    .seatHover {
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: $radius;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translate3d(0 0 0);
        left: 0;
        @include transition(all 0.2s, transform 0.05s);
        z-index: 0;
    }
    
    .seatHover:hover {
        width: $seatSize * $zoom;
        height: $seatSize * $zoom;
        top: -(($zoom - 1) * 50%);
        left: -(($zoom - 1) * 50%);
        box-shadow: get_size(0.2, $coefficient) get_size(0.2, $coefficient)  get_size(0.8, $coefficient) rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    .seatHover:active {
       transform: scale(0.9);
      }

    .z1 {
        padding-bottom: $hallSize;
    }
    
    .z1 .rowWrapper {
        flex-direction: row-reverse;
    }
    
    .z1Container {
        display: flex;
    }
    
    .z1Container:first-child {
        flex-direction: column-reverse;
        margin-left: $hallSize / 2;
    }
    
    .z1Container:last-child {
        flex-direction: column;
        margin-right: $hallSize / 2;
    }
    
    .z1Container:first-child .seatRow {
        display: flex;
        flex-direction: row-reverse;
    }

    .z2 .rowWrapper {
        flex-direction: column-reverse;
    }
    
    .z2 {
        padding-right: $hallSize;
    }

    .z3 .seatRow {
        margin: 0px $seatRowMargin 0px $seatRowMargin;
        vertical-align: bottom;
        justify-content: flex-end;
    }
    
    .z3 .rowWrapper {
        flex-direction: row;
    }
    
    .z3 {
        vertical-align: bottom;
        padding-bottom: $hallSize;
    }

    .z4 {
        margin-top: -($seatSize + $seatRowMargin * 2 + $zoneMargin);
        padding-left: $hallSize;
    }
    
    .z4 .rowWrapper {
        flex-direction: column-reverse;
    }
    
    .z4 .rowWrapper .seatRow {
        flex-direction: row-reverse;
    }
    
    .zonesWrapper {
        @include aspect-ratio($ratio-width, $ratio-height, $ratio-size, $ratio-vertical-shift, $tileSize); // taille totale de la sidebar
        flex-wrap: wrap;
        flex-direction: row;
    }

    .zoneContainer:nth-child(1) {
        justify-content: space-between;
        display: flex;
    }

    .zoneContainer:nth-child(2) {
        display: flex;
    }

    .coalitionsScores {
        $coaScore: get_size(6, $coefficient);
        width: $scoresSize;
        height: $scoresSize / 1.1;
        margin-top: -($scoresSize / 1.1);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .coalitionScore {
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: get_size(3.6, $coefficient);
            font-weight: bold;
            img {
                filter: invert(100%);
                height: 65%;
            }
            .logoBackground {
                border-radius: 100%;
                height: $coaScore;
                width: $coaScore;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .scoresWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .blockSearchHost {
        display: inline-block;
        margin-right: get_size(0.8, $coefficient);
        .searchBar {
            margin: $zoneMargin;
            display: block;
            width: $seatSize * 14;
            transition: all 0.5s ease-in-out;
                .wrapperSearch {
                    input {
                        width: calc(100% - #{get_size(1.6, $coefficient)});
                        height: $seatSize * 1.5;
                        border-width: 0; 
                        border-style: solid;
                        font-family: 'Montserrat', sans-serif;
                        font-size: get_size(3.2, $coefficient);
                        padding: 0 0 0 get_size(2, $coefficient);
                    }
                    .searchResults {
                        @include fix_animation();
                        padding: 0 get_size(0.2, $coefficient);
                        width: $seatSize * 14;
                        font-weight: bold;
                        z-index: 10;
                        border-width: 0 0 get_size(0.2, $coefficient) 0;
                        font-size: get_size(2, $coefficient);
                        position: fixed;
                        overflow: auto;
                        max-height: 50%;
                        .searchOption {
                            margin-top: get_size(0.2, $coefficient);
                            padding: get_size(1, $coefficient) 0 get_size(1, $coefficient) get_size(2, $coefficient);
                        }
                    }
                }
            }
        .searchBarHided {
            opacity: 0;
            transform: translateY(-($seatSize * 1.5));
        }
    }
    .absoluteWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
    .hostInfoWrapper {
        @include fix_animation();
        margin: $zoneMargin;
        height: $seatSize * 8;
        width: $seatSize * 14;
        display: inline-block;
        border-width: get_size(0.15, $coefficient);
        border-style: solid;
        border-radius: $radius;
        box-shadow: get_size(0.2, $coefficient) get_size(0.2, $coefficient) get_size(0.8, $coefficient) rgba(0, 0, 0, 0.4);
        overflow: hidden;
        position: relative;
        transition: transform 0.5s ease-in-out;
        .bannerWrapper {
            height: 100%;
            width: 20%;
            position: absolute;
            top: 0;
            right: 10%;
            .banner {
                width: 100%;
                max-height: 100%;
            }
            .bannerLogo {
                filter: invert(100%);
            }
        }
        .closeHostInfo {
            position: absolute;
            top: get_size(0.5, $coefficient);
            right: get_size(1, $coefficient);
            z-index: 10;
            font-size: get_size(1.7, $coefficient);
            cursor: pointer;
        }
        .adminFilter {
            width: 22%;
            height: 15%;
            position: absolute;
            bottom: get_size(-0.2, $coefficient);
            left: 0;
            font-weight: bold;
            font-size: get_size(2.1, $coefficient);
            padding-left:  get_size(0.4, $coefficient);
            text-align: center;
            color: $textPrimary;
            h2 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .poolTag {
            width: 22%;
            height: 15%;
            position: absolute;
            bottom: get_size(-0.2, $coefficient);
            left: 0;
            font-weight: bold;
            font-size: get_size(1.6, $coefficient);
            padding-left:  get_size(0.4, $coefficient);
            text-align: center;
            color: $textPrimary;
            h2 {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .splitter {
            display: flex;
            height: 100%;
            .leftCol {
                z-index: 1;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                .userPortrait {
                    position: relative;
                    height: 100%;
                    @include fix_animation();
                }
                .fireJfeve {
                    position: relative;
                    height: 100%;
                    left: -30%;
                    width: 140%;
                    top: -100%;
                    opacity: 0.7;
                }
            }
            .rightCol {
                z-index: 2;
                width: 60%;
                position: relative;
                .loaderHostInfo {
                    z-index: 1;
                    height: 75%;
                    &.exited {
                        height: 0%;
                    }
                }
                .skewed {
                    position: absolute;                    
                    transform: skewX(-7deg);
                    &.main {
                        left: -7%;
                        z-index: 2;
                        width: 12%;
                        height: 100%;
                    }
                    &.secondary {
                        z-index: 2;
                        bottom: get_size(-0.2, $coefficient);
                        left: -30%;
                        width: 31%;
                        height: 15%;
                        .hostName {
                            padding-top: 8%;
                            padding-left: 15%;
                            font-weight: bold;
                            font-size: get_size(2.1, $coefficient);
                        }
                    }
                }
                .hostContent {
                    position: relative;
                    z-index: 0;
                    padding-left: 12%;
                    &.contentTop {
                        height: 25%;
                        .userName {
                            font-size: get_size(2, $coefficient);
                            padding-top: 5%;
                            font-weight: bold;
                            font-size: get_size(2.7, $coefficient);
                            text-transform: capitalize;
                        }
                        .tags {
                            text-align: center;
                            margin-left: -12%;
                            font-size: get_size(1.9, $coefficient);
                            &.inactive {       
                                font-weight: bold;    
                            }
                            &.hugrebou {
                                font-weight: bold;
                            }
                            &.jfeve {
                                @keyframes roux {
                                    0% {
                                      color: rgb(255, 136, 0);
                                    }
                                    50% {
                                      color: rgb(255, 25, 9);
                                    }
                                    100% {
                                        color: rgb(255, 238, 0);
                                    }
                                  }
                                    font-weight: bold;    
                                    color: yellow !important;
                                    animation: roux 1s infinite;
                                    animation-direction: alternate; /* or: normal */                            
                            }
                        }
                    }
                    &.contentBottom {
                        height: 75%;
                        .stats {
                            font-size: get_size(1.9, $coefficient);
                            padding-left: 5%;
                            .stat {
                                padding-top: get_size(1.3, $coefficient);
                                .statName {
                                    margin-right: 5%;
                                    font-weight: bold;                                
                                }
                                .statValue {
                                    padding-left:  get_size(0.5, $coefficient);
                                    font-weight: normal;                                
                                }
                            }
                        }
                        .profileButton:hover {
                            transform: translate(2px, 2px);
                            .buttonContent {
                                box-shadow: none;                    
                            }
                            .buttonSkewed {
                                box-shadow: none;                           
                            }   
                        }
                        .profileButton {
                            @include transition( box-shadow ease-in 0.05s, transform ease-in 0.05s);
                            position: absolute;
                            right: 5%;
                            bottom: 5%;
                            width: 30%;
                            height: 20%;
                            .buttonContent {
                                @include transition( box-shadow ease-in 0.05s, transform ease-in 0.05s);
                                position: relative;
                                height: 100%;
                                width: 100%;
                                border-width:  get_size(0.1, $coefficient) get_size(0.1, $coefficient)  get_size(0.1, $coefficient) 0;
                                border-style: solid;   
                                text-transform: uppercase;
                                z-index: 2;
                                box-shadow: get_size(0.2, $coefficient) get_size(0.2, $coefficient)  get_size(0.2, $coefficient) rgba(0, 0, 0, 0.6);
                                .linkUserAccount {
                                    text-align: center;
                                    height: 100%;
                                    font-weight: bold;
                                    font-size: get_size(1.3, $coefficient);
                                    span {
                                        position: relative;
                                        top: 50%;
                                        display: inline-block;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                            .buttonSkewed {
                                @include transition(box-shadow ease-in 0.05s, transform ease-in 0.05s);
                                position: absolute;           
                                z-index: 1;
                                box-shadow: get_size(0, $coefficient) get_size(0.2, $coefficient)  get_size(0.2, $coefficient) rgba(0, 0, 0, 0.6);
                                border-width:  get_size(0.1, $coefficient) 0 get_size(0.1, $coefficient)  get_size(0.1, $coefficient) ;
                                border-style: solid;                            
                                height: 100%;
                                width: 8%;
                                left: -5%;
                                transform: skewX(-7deg);            
                                @include fix_animation();                   
                            }
                        }
                    }
                }
            }
        }
    }
    .hostInfoAnimated {
        transform: translateY(-($seatSize * 1.5 + $zoneMargin * 2));
    }
    .toaster {
        position: absolute;
        bottom: 0 ;
        right: 0;
    }
    .toast {
        &.off {
            left: get_size(10, $coefficient);
            opacity: 0;
        }
        &.on {
            left: 0;
           opacity: 0.8;
        }
        // activation AM;
        @include transition(left 0.5s ease-in-out, opacity 0.5s ease-in-out);
        transform: translateZ(0);
        backface-visibility: hidden;
        border-radius: get_size(0.2, $coefficient);
        border-width: get_size(0.1, $coefficient);
        border-style: solid;
        margin: get_size(1.5, $coefficient);
        position: relative;
        padding: get_size(2, $coefficient);
        width: get_size(60, $coefficient);
        z-index: 10;
        &.info {
            background-color: #2f96b4;
            color:#fff;        
            border-color: darken(#2f96b4, 6);
            box-shadow: get_size(0.1, $coefficient) get_size(0.1, $coefficient) get_size(0.1, $coefficient) #121419;
        }
        &.success {
            background-color: #51a351;
            color: #fff;
            border-color: darken(#51a351, 6);
            box-shadow: get_size(0.1, $coefficient) get_size(0.1, $coefficient) get_size(0.1, $coefficient) #121419;
        }
        &.warn {
            color:#fff;       
            background-color: #f89406;
            border-color: darken(#f89406, 6);
            box-shadow: get_size(0.1, $coefficient) get_size(0.1, $coefficient) get_size(0.1, $coefficient) #121419;
        }
        &.error {
            color:#fff;       
            background-color: #bd362f;
            border-color: darken(#bd362f, 6);
            box-shadow: get_size(0.1, $coefficient) get_size(0.1, $coefficient) get_size(0.1, $coefficient) #121419;
        }
        button:active, button:focus {
            outline: none;
        }
        .content {
            color: #fff;
            display: flex;
            align-items: stretch;
            position: relative;
            font-size: get_size(2, $coefficient);
            .toast-action-wrapper {
                flex: 1 0 0;
                .toast-action {
                    position: relative;
                    @include transition(all 0.1s ease-in-out);                
                    height: get_size(5, $coefficient);
                    width: get_size(5, $coefficient);
                    color: #fff;
                    font-size: get_size(2.5, $coefficient);
                    max-width: get_size(12, $coefficient);
                    background-color: rgba(30, 33, 42, 1);
                    border: get_size(0.3, $coefficient) solid #1e212a;
                    box-shadow:  get_size(0.3, $coefficient)  get_size(0.3, $coefficient) 0 #000;
                }
                .toast-action:hover {
                    transform: translate3d(3px, 3px, 0);
                    color: #1e212a;            
                    background-color: rgba(30, 33, 42, 0.3);
                    box-shadow: 0 0 0 #000;
                }
            }
            .message {
                .icon-type {
                    text-align: center;
                    width: get_size(2, $coefficient);
                    font-size: get_size(2.5, $coefficient);
                    position: relative;
                    top: 50%;
                    display: inline-block;
                    transform: translateY(-50%);
                    float: left;
                    margin-right:get_size(2, $coefficient);
                }
                p {
                    position: relative;
                    top: 50%;
                    display: inline-block;
                    transform: translateY(-50%);
                }
                flex-shrink: 2;    
                border: get_size(0.3, $coefficient);
                color: #fff;
                font-weight: bold;
                flex: 5 0 0;
                padding: 0; 
            }
        }
        .dismiss-toast {
            color: #fff;
            padding: get_size(1, $coefficient);
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: get_size(1.5, $coefficient);
            cursor: pointer;
        }
    }
    .infosBigWrapper {
        display: flex;
        justify-content: flex-end;
        margin-right: get_size(0.8, $coefficient);
        .infosWrapper {
            display: flex;
            .globalInfosWrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .global-infos {
                @include transition(opacity 0.2s ease-in-out);
                font-size: get_size(2.5, $coefficient);
                position: relative;
                display: flex;
                i {
                    padding-top: get_size(0.3, $coefficient);
                    display: inline-block;
                    margin-right: get_size(1, $coefficient);
                }
                p {
                    text-align: center;
                }
            }
        }
    }
    .poolIcon {
        height: get_size(2.7, $coefficient);
    }
}

.hiddenImg {
    display: none;
}

@import 'themes/dark.scss';
@import 'themes/light.scss';

@media screen and (max-aspect-ratio: "#{$ratio-width} / #{$ratio-height}") {
    @include applyStyle($seatSize: 3.8, $seatSidesMargin: 0.5, $seatRowMargin: 0.2, $zoneMargin: 0.5, $portrait: true);
}
@media screen and (min-aspect-ratio: "#{$ratio-width} / #{$ratio-height}") {
    @include applyStyle($seatSize: 3.8, $seatSidesMargin: 0.5, $seatRowMargin: 0.2, $zoneMargin: 0.5,  $portrait: false);
}
