$smallScreen: screen and (min-height: 720px);
$mediumScreen: screen and (min-height: 950px);
$largeScreen: screen and (min-height: 1080px);

$main: #292D39;
$mainDark: #1e212a;
$mainLight: #E6E6E6;
$mainLighter: #ffffff;
$darkShadow: #0a0b0e;
$lightShadow: #e5e5e5;
$textPrimary: #00babc;
$textSecondary: #ffffff;
$textTertiary: #3C4254;

@function get_size($f_multiplier, $f_coefficient) {
    @return $f_multiplier * $f_coefficient
}

@mixin applyStyle($seatSize, $seatSidesMargin, $seatRowMargin, $zoneMargin, $coefficient) {
    $zoom: 1.5;
    $seatBorderRadius: 2px;
    $hallSize: $seatSize + ($seatSidesMargin * 2);

    .zone {
        display: inline-block;
        background-color: green;
        margin: $zoneMargin;
        vertical-align: top;
    }
    
    .seat {
        margin: $seatSidesMargin;
        width: $seatSize;
        position: relative;
    }
    
    .seat {
        height: $seatSize;
        background-color: purple;
        border-radius: $seatBorderRadius;
    }

    .seat img {
        height: 100%;
        margin-left: -25%;
        cursor: pointer;
    }
    
    .seatRow {
        display: flex;
        margin: $seatRowMargin 0px $seatRowMargin 0px;
    }
    
    .rowWrapper {
        display: flex;
        flex-direction: column;
    }

    /* Seat hover */
    .seatHover {
        position: absolute;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: $seatBorderRadius;
        width: $seatSize;
        height: $seatSize;
        top: 0;
        left: 0;
        transition: all 0.2s, transform 0.05s;
        z-index: 0;
    }
    
    .seatHover:hover {
        width: $seatSize * $zoom;
        height: $seatSize * $zoom;
        top: -(($zoom - 1) * 50%);
        left: -(($zoom - 1) * 50%);
        box-shadow: 4px 4px 10px $darkShadow;
        z-index: 1;
    }
    .seatHover:active {
        transform: scale(0.9);
      }

    /* Seat hover */
    
    /* Z1 */
    .z1 {
        padding-bottom: $hallSize;
    }
    
    .z1 .rowWrapper {
        background-color: green;
        flex-direction: row-reverse;
    }
    
    .z1Container {
        display: flex;
        background-color: orange;
        margin: 5px;
    }
    
    .z1Container:first-child {
        flex-direction: column-reverse;
        margin-left: $hallSize / 2;
    }
    
    .z1Container:last-child {
        flex-direction: column;
        margin-right: $hallSize / 2;
    }
    
    .z1Container:first-child .seatRow {
        display: flex;
        flex-direction: row-reverse;
    }
    /* Z1 */
    
    /* Z2 */
    .z2 .rowWrapper {
        flex-direction: column-reverse;
    }
    
    .z2 {
        padding-right: $hallSize;
    }
    /* Z2 */
    
    /* Z3 */
    .z3 .seatRow {
        margin: 0px $seatRowMargin 0px $seatRowMargin;
        vertical-align: bottom;
        justify-content: flex-end;
    }
    
    .z3 .rowWrapper {
        flex-direction: row;
    }
    
    .z3 {
        vertical-align: bottom;
        padding-bottom: $hallSize;
    }
    /* Z3 */
    
    /* Z4 */
    .z4 {
        margin-top: -($seatSize + $seatRowMargin * 2 + $zoneMargin);
        padding-left: $hallSize;
    }
    
    .z4 .rowWrapper {
        flex-direction: column-reverse;
    }
    
    .z4 .rowWrapper .seatRow {
        flex-direction: row-reverse;
    }
    /* Z4 */
    
    .zonesWrapper {
        /* display: inline-flex; */
        flex-wrap: wrap;
        /* display: flex; */
        flex-direction: row;
    }
    
    .zoneContainer:first-child .zone {
        display: inline-block;
    }
    
    .hostInfoWrapper {
        height: $seatSize * 8;
        width: $seatSize * 14;
        display: inline-block;
        border: 2px $darkShadow solid;
        box-shadow: 4px 4px 4px $lightShadow;
        overflow: hidden;
        .splitter {
            display: flex;
            height: 100%;
            .leftCol {
                z-index: 1;
                width: 40%;
                .userPortrait {
                    position: relative;
                    height: 100%;
                    left: -60%;
                    color: $textPrimary;
                }
            }
            .rightCol {
                z-index: 2;
                width: 60%;
                background-color: $main;
                position: relative;
                .skewed {
                    position: absolute;                    
                    transform: skewX(-7deg);
                    &.main {
                        left: -7%;
                        z-index: 1;
                        background-color: $mainDark;
                        width: 12%;
                        height: 100%;
                    }
                    &.secondary {
                        z-index: 1;
                        bottom: -2px;
                        left: -30%;
                        background-color: $main;
                        width: 31%;
                        height: 15%;
                        .hostName {
                            padding-top: 8%;
                            padding-left: 15%;
                            color: $textSecondary;
                            font-weight: bold;
                            font-size: get_size(0.8em, $coefficient);
                        }
                    }
                }
                .hostContent {
                    position: relative;
                    z-index: 0;
                    padding-left: 12%;
                    &.contentTop {
                        height: 25%;
                        background-color: $mainDark;
                        .userName {
                            padding-top: 5%;
                            color: $textSecondary;
                            font-weight: bold;
                            font-size: get_size(1em, $coefficient);
                            text-transform: capitalize;
                        }
                        .tags {
                            color: $textPrimary;                            
                            &.inactive {
                                color: $textTertiary;
                                padding-left: 30%;
                                font-weight: bold;
                                font-size: get_size(0.7em, $coefficient);
                            }
                        }
                    }
                    &.contentBottom {
                        height: 75%;
                        background-color: $main;
                        .stats {
                            line-height: get_size(2em, $coefficient);
                            font-size: get_size(0.7em, $coefficient);
                            padding-left: 5%;
                            .statName {
                                color: $textPrimary;
                                margin-right: 5%;
                                font-weight: bold;                                
                            }
                            .statValue {
                                padding-left: 5px;
                                color: $textSecondary;
                                font-weight: normal;                                
                            }
                        }
                        .profileButton:hover {
                            transform: translate(2px, 2px);
                            .buttonContent {
                                box-shadow: none;                    
                            }
                            .buttonSkewed {
                                box-shadow: none;                           
                            }   
                        }
                        .profileButton {
                            transition: all ease-in 0.05s ;
                            position: absolute;
                            right: 5%;
                            bottom: 5%;
                            width: 30%;
                            height: 20%;
                            .buttonContent {
                                transition: all ease-in 0.05s ;
                                position: relative;
                                height: 100%;
                                width: 100%;
                                background-color: $mainDark;                            
                                border-width:  1px 1px 1px 0px;
                                border-color: $darkShadow;
                                border-style: solid;   
                                text-transform: uppercase;
                                z-index: 2;
                                box-shadow: 2px 2px 2px $darkShadow;
                                .linkUserAccount {
                                    text-align: center;
                                    height: 100%;
                                    color: $textSecondary;
                                    font-weight: bold;
                                    font-size: get_size(0.5em, $coefficient);
                                    span {
                                        position: relative;
                                        top: 50%;
                                        display: inline-block;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                            .buttonSkewed {
                                transition: all ease-in 0.05s ;
                                position: absolute;                                
                                z-index: 1;
                                box-shadow: 2px 2px 2px $darkShadow;
                                background-color: $mainDark;                                
                                border-width:  1px 0 1px 1px;
                                border-color: $darkShadow;
                                border-style: solid;                            
                                height: 100%;
                                width: 8%;
                                background-color: $mainDark;
                                left: -5%;
                                transform: skewX(-7deg);                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media #{$smallScreen} {
    @include applyStyle($seatSize: 35px, $seatSidesMargin: 2px, $seatRowMargin: 1px, $zoneMargin: 2px, $coefficient:0.5);
}

@media #{$mediumScreen} {
    @include applyStyle($seatSize: 42px, $seatSidesMargin: 5px, $seatRowMargin: 2px, $zoneMargin: 5px, $coefficient:1);
}

@media #{$largeScreen} {
    @include applyStyle($seatSize: 55px, $seatSidesMargin: 5px, $seatRowMargin: 6px, $zoneMargin: 5px, $coefficient:2);
}